{% extends 'products/base.html' %}
{% load static %}
{% load wishlist %}
{% block content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container" data-layout="container">
            <script>
                var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                if (isFluid) {
                    var container = document.querySelector('[data-layout]');
                    container.classList.remove('container');
                    container.classList.add('container-fluid');
                }
            </script>

            <div class="content">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <div class="product-slider" id="galleryTop">
                                    {% if product.productimage_set.count %}
                                        <div class="swiper-container theme-slider position-lg-absolute all-0"
                                             data-swiper='{"autoHeight":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"thumb":{"spaceBetween":5,"slidesPerView":5,"loop":true,"freeMode":true,"grabCursor":true,"loopedSlides":5,"centeredSlides":true,"slideToClickedSlide":true,"watchSlidesVisibility":true,"watchSlidesProgress":true,"parent":"#galleryTop"},"slideToClickedSlide":true}'>
                                            <div class="swiper-wrapper h-100">
                                                {% for image in product.productimage_set.all %}
                                                    <div class="swiper-slide h-100">
                                                        <img class="rounded-1 fit-cover h-100 w-100"
                                                             src="/../media/{{ image.image }}"
                                                             alt=""/></div>
                                                {% endfor %}
                                                <div class="swiper-nav">
                                                    <div class="swiper-button-next swiper-button-white"></div>
                                                    <div class="swiper-button-prev swiper-button-white"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="h-100"><img
                                                class="rounded-1 fit-cover h-100 w-100"
                                                src="{% static 'assets/img/img.png' %}"
                                                alt=""/></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h5>{{ product.name }}</h5><a
                                    class="fs--1 mb-2 d-block"
                                    href="#!">{{ product.category.name }}</a>
                                <div class="fs--2 mb-3 d-inline-block text-decoration-none">
                                    <span class="fa fa-star text-warning"></span><span
                                        class="fa fa-star text-warning"></span><span
                                        class="fa fa-star text-warning"></span><span
                                        class="fa fa-star text-warning"></span><span
                                        class="fa fa-star-half-alt text-warning star-icon"></span><span
                                        class="ms-1 text-600">(8)</span>
                                </div>
                                <p class="fs--1">{{ product.short_description }}</p>
                                <h4 class="d-flex align-items-center"><span
                                        class="text-warning me-2">${{ product.discount_price }}</span><span
                                        class="me-1 fs--1 text-500">
                  <del class="me-1">${{ product.price }}</del><strong>-{{ product.discount }}%</strong></span>
                                </h4>
                                <p class="fs--1 mb-1">
                                    <span>Shipping Cost: </span><strong>${{ product.shipping_cost }}</strong>
                                </p>
                                {% if product.quantity > 0 %}
                                    <p class="fs--1">Stock: <strong
                                            class="text-success">Available</strong>
                                    </p>
                                {% else %}
                                    <p class="fs--1">Stock: <strong
                                            class="text-danger">Sold-out</strong>
                                    </p>
                                {% endif %}
                                {% if user.type != 'admin' %}
                                    <div class="row">
                                        <div class="col-auto pe-0">
                                            <div class="input-group input-group-sm"
                                                 data-quantity="data-quantity">
                                                <button class="btn btn-sm btn-outline-secondary border-300"
                                                        data-field="input-quantity"
                                                        data-type="minus">-
                                                </button>
                                                <input class="form-control text-center input-quantity input-spin-none"
                                                       type="number" min="0"
                                                       value="0"
                                                       aria-label="Amount (to the nearest dollar)"
                                                       style="max-width: 50px"/>
                                                <button class="btn btn-sm btn-outline-secondary border-300"
                                                        data-field="input-quantity"
                                                        data-type="plus">+
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-auto px-2 px-md-3"><a
                                                class="btn btn-sm btn-primary"
                                                href="{% url 'products:add_to_shopping_cart' product.id %}"><span
                                                class="fas fa-cart-plus me-sm-2"></span><span
                                                class="d-none d-sm-inline-block">Add To Cart</span></a>
                                        </div>
                                        <div class="col-auto px-0"><a
                                                class="btn btn-sm btn-outline-danger border-300"
                                                {% if user|has_wishlist:product %}
                                                    style="color: white; background-color: #e63757"
                                                {% endif %}
                                                href="{% url 'products:add_favorite' pk=product.id %}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Add to Wish List"><span
                                                class="far fa-heart me-1"></span>{{ product.wishlist_set.count }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="overflow-hidden mt-4">
                                    <ul class="nav nav-tabs" id="myTab"
                                        role="tablist">
                                        <li class="nav-item"><a
                                                class="nav-link active ps-0"
                                                id="description-tab"
                                                data-bs-toggle="tab"
                                                href="#tab-description"
                                                role="tab"
                                                aria-controls="tab-description"
                                                aria-selected="true">Description</a>
                                        </li>
                                        <li class="nav-item"><a
                                                class="nav-link px-2 px-md-3"
                                                id="specifications-tab"
                                                data-bs-toggle="tab"
                                                href="#tab-specifications"
                                                role="tab"
                                                aria-controls="tab-specifications"
                                                aria-selected="false">Specifications</a>
                                        </li>
                                        <li class="nav-item"><a
                                                class="nav-link px-2 px-md-3"
                                                id="reviews-tab"
                                                data-bs-toggle="tab"
                                                href="#tab-reviews" role="tab"
                                                aria-controls="tab-reviews"
                                                aria-selected="false">Reviews</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active"
                                             id="tab-description"
                                             role="tabpanel"
                                             aria-labelledby="description-tab">
                                            <div class="mt-3">
                                                <p>
                                                    {{ product.description }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade"
                                             id="tab-specifications"
                                             role="tabpanel"
                                             aria-labelledby="specifications-tab">
                                            <table class="table fs--1 mt-3">
                                                <tbody>
                                                {% for key,value in product.specification.items %}
                                                    <tr>
                                                        <td class="bg-100"
                                                            style="width: 30%;">{{ key }}</td>
                                                        <td>{{ value }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade"
                                             id="tab-reviews" role="tabpanel"
                                             aria-labelledby="reviews-tab">
                                            <div class="row mt-3">
                                                <div class="col-lg-6 mb-4 mb-lg-0">
                                                    <div class="mb-1"><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="ms-3 text-dark fw-semi-bold">Awesome support, great code 😍</span>
                                                    </div>
                                                    <p class="fs--1 mb-2 text-600">
                                                        By Drik Smith • October
                                                        14, 2019</p>
                                                    <p class="mb-0">You
                                                        shouldn't need to read
                                                        a review to see how
                                                        nice and polished this
                                                        theme is. So I'll tell
                                                        you something you won't
                                                        find in the demo. After
                                                        the download I had a
                                                        technical question,
                                                        emailed the team and
                                                        got a response right
                                                        from the team CEO with
                                                        helpful advice.</p>
                                                    <hr class="my-4"/>
                                                    <div class="mb-1"><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star text-warning fs--1"></span><span
                                                            class="fa fa-star-half-alt text-warning star-icon fs--1"></span><span
                                                            class="ms-3 text-dark fw-semi-bold">Outstanding Design, Awesome Support</span>
                                                    </div>
                                                    <p class="fs--1 mb-2 text-600">
                                                        By Liane • December 14,
                                                        2019</p>
                                                    <p class="mb-0">This really
                                                        is an amazing template
                                                        - from the style to the
                                                        font - clean layout. SO
                                                        worth the money! The
                                                        demo pages show off
                                                        what Bootstrap 4 can
                                                        impressively do. Great
                                                        template!! Support
                                                        response is FAST and
                                                        the team is amazing -
                                                        communication is
                                                        important.</p>
                                                </div>
                                                <div class="col-lg-6 ps-lg-5">
                                                    <form>
                                                        <h5 class="mb-3">Write
                                                            your Review</h5>
                                                        <div class="mb-3">
                                                            <label class="form-label">Ratting: </label>
                                                            <div class="d-block star-rating"
                                                                 data-rater="{"starSize":32,"step":0.5}"
                                                            style="width: 160px; height: 32px; background-size: 32px;"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                   for="formGroupNameInput">Name:</label>
                                                            <input class="form-control"
                                                                   id="formGroupNameInput"
                                                                   type="text"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                   for="formGroupEmailInput">Email:</label>
                                                            <input class="form-control"
                                                                   id="formGroupEmailInput"
                                                                   type="email"/>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                   for="formGrouptextareaInput">Review:</label>
                                                            <textarea
                                                                    class="form-control"
                                                                    id="formGrouptextareaInput"
                                                                    rows="3"></textarea>
                                                        </div>
                                                        <button class="btn btn-primary"
                                                                type="submit">
                                                            Submit
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">Thank you for creating
                                with Falcon <span
                                        class="d-none d-sm-inline-block">| </span><br
                                        class="d-sm-none"/> 2021 &copy; <a
                                        href="https://themewagon.com">Themewagon</a>
                            </p>
                        </div>
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">v3.4.0</p>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="modal fade" id="authentication-modal" tabindex="-1"
                 role="dialog" aria-labelledby="authentication-modal-label"
                 aria-hidden="true">
                <div class="modal-dialog mt-6" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                            <div class="position-relative z-index-1 light">
                                <h4 class="mb-0 text-white"
                                    id="authentication-modal-label">
                                    Register</h4>
                                <p class="fs--1 mb-0 text-white">Please create
                                    your free Falcon account</p>
                            </div>
                            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body py-4 px-5">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label"
                                           for="modal-auth-name">Name</label>
                                    <input class="form-control" type="text"
                                           autocomplete="on"
                                           id="modal-auth-name"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"
                                           for="modal-auth-email">Email
                                        address</label>
                                    <input class="form-control" type="email"
                                           autocomplete="on"
                                           id="modal-auth-email"/>
                                </div>
                                <div class="row gx-2">
                                    <div class="mb-3 col-sm-6">
                                        <label class="form-label"
                                               for="modal-auth-password">Password</label>
                                        <input class="form-control"
                                               type="password"
                                               autocomplete="on"
                                               id="modal-auth-password"/>
                                    </div>
                                    <div class="mb-3 col-sm-6">
                                        <label class="form-label"
                                               for="modal-auth-confirm-password">Confirm
                                            Password</label>
                                        <input class="form-control"
                                               type="password"
                                               autocomplete="on"
                                               id="modal-auth-confirm-password"/>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="modal-auth-register-checkbox"/>
                                    <label class="form-label"
                                           for="modal-auth-register-checkbox">I
                                        accept the <a href="#!">terms </a>and
                                        <a href="#!">privacy policy</a></label>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100 mt-3"
                                            type="submit" name="submit">
                                        Register
                                    </button>
                                </div>
                            </form>
                            <div class="position-relative mt-5">
                                <hr class="bg-300"/>
                                <div class="divider-content-center">or register
                                    with
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-sm-6"><a
                                        class="btn btn-outline-google-plus btn-sm d-block w-100"
                                        href="#"><span
                                        class="fab fa-google-plus-g me-2"
                                        data-fa-transform="grow-8"></span>
                                    google</a></div>
                                <div class="col-sm-6"><a
                                        class="btn btn-outline-facebook btn-sm d-block w-100"
                                        href="#"><span
                                        class="fab fa-facebook-square me-2"
                                        data-fa-transform="grow-8"></span>
                                    facebook</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}