{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% include 'authentication/../similarities/header_con.html' %}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <div class="row flex-center min-vh-100 py-6 text-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5"><a class="d-flex flex-center mb-4" href="../../index.html"><img class="me-2" src="{% static 'assets/img/icons/spot-illustrations/falcon.png' %}" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span></a>
        <div class="card">
          <div class="card-body p-4 p-sm-5">
            <div class="fw-black lh-1 text-300 fs-error">404</div>
            <p class="lead mt-4 text-800 font-sans-serif fw-semi-bold w-md-75 w-xl-100 mx-auto">The page you're looking for is not found.</p>
            <hr />
            <p>Make sure the address is correct and that the page hasn't moved. If you think this is a mistake, <a href="mailto:info@exmaple.com">contact us</a>.</p><a class="btn btn-primary btn-sm mt-3" href="../../index.html"><span class="fas fa-home me-2"></span>Take me home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
  <div class="offcanvas-header settings-panel-header bg-shape">
    <div class="z-index-1 py-1 light">
      <h5 class="text-white"> <span class="fas fa-palette me-2 fs-0"></span>Settings</h5>
      <p class="mb-0 fs--1 text-white opacity-75"> Set your own customized style</p>
    </div>
    <button class="btn-close btn-close-white z-index-1 mt-0" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body scrollbar-overlay px-card" id="themeController">
    <h5 class="fs-0">Color Scheme</h5>
    <p class="fs--1">Choose the perfect color mode for your app.</p>
    <div class="btn-group d-block w-100 btn-group-navbar-style">
      <div class="row gx-2">
        <div class="col-6">
          <input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="theme" />
          <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherLight"> <span class="hover-overlay mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="{% static 'assets/img/generic/falcon-mode-default.jpg' %}" alt=""/></span><span class="label-text">Light</span></label>
        </div>
        <div class="col-6">
          <input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="theme" />
          <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherDark"> <span class="hover-overlay mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="{% static 'assets/img/generic/falcon-mode-dark.jpg' %}" alt=""/></span><span class="label-text"> Dark</span></label>
        </div>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-start"><img class="me-2" src="../../assets/img/icons/left-arrow-from-left.svg" width="20" alt="" />
        <div class="flex-1">
          <h5 class="fs-0">RTL Mode</h5>
          <p class="fs--1 mb-0">Switch your language direction </p><a class="fs--1" href="../../documentation/customization/configuration.html">RTL Documentation</a>
        </div>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input ms-0" id="mode-rtl" type="checkbox" data-theme-control="isRTL" />
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-start"><img class="me-2" src="{% static 'assets/img/icons/arrows-h.svg' %}" width="20" alt="" />
        <div class="flex-1">
          <h5 class="fs-0">Fluid Layout</h5>
          <p class="fs--1 mb-0">Toggle container layout system </p><a class="fs--1" href="../../documentation/customization/configuration.html">Fluid Documentation</a>
        </div>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input ms-0" id="mode-fluid" type="checkbox" data-theme-control="isFluid" />
      </div>
    </div>
    <hr />
    <div class="d-flex align-items-start"><img class="me-2" src="{% static 'assets/img/icons/paragraph.svg' %}" width="20" alt="" />
      <div class="flex-1">
        <h5 class="fs-0 d-flex align-items-center">Navigation Position </h5>
        <p class="fs--1 mb-2">Select a suitable navigation system for your web application </p>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="option-navbar-vertical" type="radio" name="navbar" value="vertical" data-page-url="../../modules/components/navs-and-tabs/vertical-navbar.html" data-theme-control="navbarPosition" />
            <label class="form-check-label" for="option-navbar-vertical">Vertical</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="option-navbar-top" type="radio" name="navbar" value="top" data-page-url="../../modules/components/navs-and-tabs/top-navbar.html" data-theme-control="navbarPosition" />
            <label class="form-check-label" for="option-navbar-top">Top</label>
          </div>
          <div class="form-check form-check-inline me-0">
            <input class="form-check-input" id="option-navbar-combo" type="radio" name="navbar" value="combo" data-page-url="../../modules/components/navs-and-tabs/combo-navbar.html" data-theme-control="navbarPosition" />
            <label class="form-check-label" for="option-navbar-combo">Combo</label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h5 class="fs-0 d-flex align-items-center">Vertical Navbar Style</h5>
    <p class="fs--1 mb-0">Switch between styles for your vertical navbar </p>
    <p> <a class="fs--1" href="../../modules/components/navs-and-tabs/vertical-navbar.html#navbar-styles">See Documentation</a></p>
    <div class="btn-group d-block w-100 btn-group-navbar-style">
      <div class="row gx-2">
        <div class="col-6">
          <input class="btn-check" id="navbar-style-transparent" type="radio" name="navbarStyle" value="transparent" data-theme-control="navbarStyle" />
          <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-transparent"> <img class="img-fluid img-prototype" src="{% static 'assets/img/generic/default.png' %}" alt="" /><span class="label-text"> Transparent</span></label>
        </div>
        <div class="col-6">
          <input class="btn-check" id="navbar-style-inverted" type="radio" name="navbarStyle" value="inverted" data-theme-control="navbarStyle" />
          <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-inverted"> <img class="img-fluid img-prototype" src="{% static 'assets/img/generic/inverted.png' %}" alt="" /><span class="label-text"> Inverted</span></label>
        </div>
        <div class="col-6">
          <input class="btn-check" id="navbar-style-card" type="radio" name="navbarStyle" value="card" data-theme-control="navbarStyle" />
          <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-card"> <img class="img-fluid img-prototype" src="{% static 'assets/img/generic/card.png' %}" alt="" /><span class="label-text"> Card</span></label>
        </div>
        <div class="col-6">
          <input class="btn-check" id="navbar-style-vibrant" type="radio" name="navbarStyle" value="vibrant" data-theme-control="navbarStyle" />
          <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-vibrant"> <img class="img-fluid img-prototype" src="{% static 'assets/img/generic/vibrant.png' %}" alt="" /><span class="label-text"> Vibrant</span></label>
        </div>
      </div>
    </div>
    <div class="text-center mt-5"><img class="mb-4" src="{% static 'assets/img/icons/spot-illustrations/47.png' %}" alt="" width="120" />
      <h5>Like What You See?</h5>
      <p class="fs--1">Get Falcon now and create beautiful dashboards with hundreds of widgets.</p><a class="mb-3 btn btn-primary" href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/" target="_blank">Purchase</a>
    </div>
  </div>
</div>
{% include 'authentication/../similarities/footer_con.html' %}
</html>