{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>Falcon</title>


<!-- ===============================================-->
<!--    Favicons-->
<!-- ===============================================-->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
<meta name="theme-color" content="#ffffff">
<script src="{% static 'assets/js/config.js' %}"></script>
<script src="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>

<!-- ===============================================-->
<!-- Stylesheets -->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
<link href="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.css' %}'" rel="stylesheet">
<link href="{% static 'vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
<link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
<link href="{% static 'assets/css/user-rtl.min.css' %}.css" rel="stylesheet" id="user-style-rtl">
<link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
<script>
</script>
</head>